<html>
    {{# partial "titulo" }}
        <title>Egreso</title>
    {{/partial}}

    {{# partial "contenido" }}
        <main>
            <section class="categoriasForm">
                <h2>
                    Datos del egreso {{egresoId}}:
                </h2>
                <ul>
                    <li><strong>Razón Social de Proveedor: </strong>  {{proveedor}}</li>
                    <li><strong>Medio De Pago:  </strong>  {{medioDePago}}</li>
                    <li><strong>Tipo de Documento:  </strong>  {{tipoDocumento}}</li>
                    <li><strong>Número de Operación:  </strong>  {{numeroOperacion}}</li>
                </ul>
                </br>
            </section>
        </main>
    {{/partial}}

    {{> layout.html.hbs }}
</html>
